* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

a {
    display: block;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: red;
}

.tabela-container {
    width: 90%;
    background-color: black;
    border-radius: 10px;
    margin: 0 auto;
    display: grid;
    
}

div.tabela {
    width: 100%;
    border-collapse: collapse;
    margin: 5px;
    font-size: 0.8em;
}

div.tabela th, .tabela td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

div.tabela th {
    font-weight: bold;
}

span {
    border: none;
    background-color: red;
}

.box-search {
    display: flex;
    justify-content: center;
    gap: .1%;
}


